@media (max-width:958px) {
.footer_tip p {
        width:80%
}
}

.footer_tip a {
        font-weight:400
}

.footer_tip button {
        position:absolute;
        top:8px;
        right:5px;
        padding:0;
        border:0;
        background:0 0;
        font-size:26px;
        line-height:1;
        color:#cdd4db
}

.footer_tip button:hover {
        color:#4bf
}

.ie8 .footer_tip p {
        display:none
}

.ie8 .footer_tip p.active {
        display:block
}

.ie8 .footer_tip p.out {
        display:none
}

#footers_footer {
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        margin:0 auto;
        padding:15px 20px;
        color:#acb1b4;
        font-size:11px;
        overflow:auto
}

#footers_footer a {
        font-weight:400
}

#footers_footer a.loveo {
        color:#f27490
}

#footers_footer .language {
        float:right
}

#footers_footer .contentfilter {
        float:right;
        margin-left:10px
}

#footers_footer .iconify {
        font-size:13px
}

#legal {
        float:left
}

#legal p,#legal ul {
        display:inline;
        margin:0
}

#legal ul {
        margin:0 15px
}

.animated {
        -webkit-animation-duration:1s;
        animation-duration:1s;
        -webkit-animation-fill-mode:both;
        animation-fill-mode:both
}

@-webkit-keyframes fade-notice {
5%,90% {
        opacity:1
}

0%,100% {
        opacity:0
}
}

@-o-keyframes fade-notice {
5%,90% {
        opacity:1
}

0%,100% {
        opacity:0
}
}

@-moz-keyframes fade-notice {
5%,90% {
        opacity:1
}

0%,100% {
        opacity:0
}
}

@keyframes fade-notice {
5%,90% {
        opacity:1
}

0%,100% {
        opacity:0
}
}

@-webkit-keyframes fly-in {
0% {
        -webkit-transform:translate(-100px,100px);
        -moz-transform:translate(-100px,100px);
        -ms-transform:translate(-100px,100px);
        -o-transform:translate(-100px,100px);
        transform:translate(-100px,100px)
}

100% {
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -ms-transform:translate(0,0);
        -o-transform:translate(0,0);
        transform:translate(0,0)
}
}

@-o-keyframes fly-in {
0% {
        -webkit-transform:translate(-100px,100px);
        -moz-transform:translate(-100px,100px);
        -ms-transform:translate(-100px,100px);
        -o-transform:translate(-100px,100px);
        transform:translate(-100px,100px)
}

100% {
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -ms-transform:translate(0,0);
        -o-transform:translate(0,0);
        transform:translate(0,0)
}
}

@-moz-keyframes fly-in {
0% {
        -webkit-transform:translate(-100px,100px);
        -moz-transform:translate(-100px,100px);
        -ms-transform:translate(-100px,100px);
        -o-transform:translate(-100px,100px);
        transform:translate(-100px,100px)
}

100% {
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -ms-transform:translate(0,0);
        -o-transform:translate(0,0);
        transform:translate(0,0)
}
}

@keyframes fly-in {
0% {
        -webkit-transform:translate(-100px,100px);
        -moz-transform:translate(-100px,100px);
        -ms-transform:translate(-100px,100px);
        -o-transform:translate(-100px,100px);
        transform:translate(-100px,100px)
}

100% {
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -ms-transform:translate(0,0);
        -o-transform:translate(0,0);
        transform:translate(0,0)
}
}

.lightbox_overlay {
        opacity:.75;
        -ms-transition:opacity .15s ease-out 0;
        -webkit-transition:opacity .15s ease-out 0;
        transition:opacity .15s ease-out 0;
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:900;
        background-color:#000
}

.default_lightbox {
        z-index:901;
        min-width:490px;
        max-width:1000px;
        background:#f4f5f7;
        border-top:none;
        box-shadow:0 6px 15px rgba(0,0,0,.3);
        -ms-transition:all .05s ease-out 0;
        -webkit-transition:all .05s ease-out 0;
        transition:all .05s ease-out 0;
        opacity:0;
        -webkit-transform:scale(0.9);
        -moz-transform:scale(0.9);
        -ms-transform:scale(0.9);
        -o-transform:scale(0.9);
        transform:scale(0.9)
}

.default_lightbox.slim {
        max-width:600px
}

.default_lightbox.flexbox {
        max-width:100%;
        top:0;
        left:0;
        background-color:transparent
}

.default_lightbox.active {
        opacity:1;
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
}

.default_lightbox header {
        overflow-x:hidden
}

.default_lightbox .masthead,.default_lightbox header>.lightbox_heading,.default_lightbox header>h1,.default_lightbox header>h6 {
        color:#fff;
        background:#f4f5f7 url(../../images_v6/bg_header.png) repeat left top;
        margin:0 -1px;
        padding:15px 20px;
        font-size:24px;
        text-shadow:#333 0 0 3px;
        overflow:hidden
}

.default_lightbox .masthead .portrait,.default_lightbox header>.lightbox_heading .portrait,.default_lightbox header>h1 .portrait,.default_lightbox header>h6 .portrait {
        width:25px;
        margin-right:10px;
        vertical-align:middle;
        display:inline
}

.default_lightbox .undertaker {
        color:#fff;
        display:block;
        position:absolute;
        top:18px;
        right:18px;
        font-size:24px;
        font-weight:700;
        line-height:24px;
        z-index:1
}

.default_lightbox .undertaker:hover {
        color:#fff!important
}

.default_lightbox .block {
        margin-bottom:0;
        padding:15px 20px 20px
}

.default_lightbox .block+.block {
        padding-top:0
}

.default_lightbox .col {
        float:left;
        padding:20px
}

.mod_tools header>h1 {
        background:#000 url(http://25.media.tumblr.com/tumblr_m6qyybDaS11qzw1qyo1_500.gif) no-repeat center 50%/cover!important
}

.modbox_lightbox .content {
        padding:10px;
        height:600px;
        width:800px;
        overflow:scroll
}

#lightbox_container.image {
        min-width:1px;
        width:auto;
        max-width:10000px;
        min-height:1px;
        height:auto;
        border:0
}

#lightbox_container.image .close {
        background-color:#fff;
        width:18px;
        height:18px;
        top:0;
        right:-18px;
        color:#000;
        text-align:center
}

#lightbox_container.image #lightbox_content {
        min-height:1px
}

#lightbox_container.image img {
        display:block
}

.lightbox_padded_body {
        padding:20px
}

.cols:after,.cols:before {
        content:"\0020";
        display:block;
        height:0;
        overflow:hidden
}

.cols:after {
        clear:both
}

.cols {
        zoom:1
}

.cols>.col {
        float:left
}

.cols>.col+.col {
        margin-left:20px
}

.active .viconify_share_b.share_header:before {
        -webkit-animation:fly-in .15s;
        animation:fly-in .15s
}

.default_lightbox.basic_confirm .undertaker.close {
        display:none
}

.default_lightbox.basic_confirm ul {
        margin-top:15px
}

.default_lightbox.basic_confirm ul li+li {
        margin-top:5px
}

.default_lightbox.basic_confirm form {
        margin:0
}

.default_lightbox.basic_confirm form .btn_lg {
        font-size:18px;
        padding:10px 20px
}

.default_lightbox.basic_confirm footer .question {
        color:#456
}

.default_lightbox.basic_confirm footer .buttons {
        font-size:14px
}

.default_lightbox.basic_confirm section+footer {
        padding-top:0
}

.default_lightbox.edison {
        background:#fcfcfc
}

.default_lightbox.edison .shade {
        background:#e2f4fd;
        border-bottom:1px solid #e4e8ed
}

.default_lightbox.edison .shade,.default_lightbox.edison .shade h1,.default_lightbox.edison .shade h2,.default_lightbox.edison .shade h3,.default_lightbox.edison .shade h4,.default_lightbox.edison .shade h5,.default_lightbox.edison .shade i {
        color:#4bf
}

.default_lightbox.edison.fat header {
        padding-top:30px;
        padding-bottom:30px
}

.default_lightbox.edison.fat .undertaker {
        margin-top:26px
}

.default_lightbox.edison:before {
        content:'';
        display:block;
        width:100%;
        height:8px;
        background:#f4f5f7 url(../../images_v6/bg_header.png) repeat left top;
        position:relative;
        top:-1px
}

.default_lightbox.edison footer,.default_lightbox.edison header,.default_lightbox.edison section {
        padding:20px
}

.default_lightbox.edison header {
        background:#f5faff;
        border-bottom:1px solid #e4e8ed
}

.default_lightbox.edison header h1,.default_lightbox.edison header h2,.default_lightbox.edison header h3,.default_lightbox.edison header h4,.default_lightbox.edison header h5 {
        padding:0
}

.default_lightbox.edison .masthead,.default_lightbox.edison header>.lightbox_heading,.default_lightbox.edison header>h1,.default_lightbox.edison header>h6 {
        color:#435567;
        background:#f5faff;
        text-shadow:none
}

.default_lightbox.edison .undertaker {
        color:#456;
        margin-top:14px;
        margin-left:0;
        margin-right:16px;
        font-size:18px
}

.default_lightbox.edison .undertaker:hover {
        color:#586e85!important
}

.default_lightbox.edison footer {
        background:inherit;
        padding-bottom:30px
}

.default_lightbox.edison .content.warn .shade,.default_lightbox.edison.warn .shade {
        background:#ffefff;
        border-bottom:1px solid #ffafbf
}

.default_lightbox.edison .content.warn .shade,.default_lightbox.edison .content.warn .shade h1,.default_lightbox.edison .content.warn .shade h2,.default_lightbox.edison .content.warn .shade h3,.default_lightbox.edison .content.warn .shade h4,.default_lightbox.edison .content.warn .shade h5,.default_lightbox.edison .content.warn .shade i,.default_lightbox.edison.warn .shade,.default_lightbox.edison.warn .shade h1,.default_lightbox.edison.warn .shade h2,.default_lightbox.edison.warn .shade h3,.default_lightbox.edison.warn .shade h4,.default_lightbox.edison.warn .shade h5,.default_lightbox.edison.warn .shade i {
        color:#fc575e
}

#lightbox_content #pro_locked_action {
        display:block
}

#contentfilter header>h1,#language header>h1,#vod_regions header>h1 {
        color:#fff;
        background:#f4f5f7 url(../../images_v6/bg_header.png) repeat left top;
        margin:0;
        padding:15px 20px;
        font-size:24px;
        text-shadow:#333 0 0 3px
}

#contentfilter .close,#language .close,#vod_regions .close {
        color:#fff;
        font-size:18px;
        font-weight:700;
        display:block;
        position:absolute;
        top:18px;
        right:18px
}

.contentfilter_selector,.language_selector,.vod_regions_selector {
        position:relative;
        margin:20px;
        padding-right:190px
}

.contentfilter_selector .iconify_globe_b,.language_selector .iconify_globe_b,.vod_regions_selector .iconify_globe_b {
        color:#e1e2e3;
        position:absolute;
        top:-9px;
        right:-50px;
        font-size:200px;
        line-height:20px
}

.contentfilter_selector li.selected a,.language_selector li.selected a,.vod_regions_selector li.selected a {
        color:#acb1b4
}

.contentfilter_selector li+li,.language_selector li+li,.vod_regions_selector li+li {
        margin-top:5px
}

.contentfilter_selector .language_heading,.language_selector .language_heading,.vod_regions_selector .language_heading {
        margin-bottom:10px;
        color:#456;
        font-size:18px;
        font-weight:700
}

.contentfilter_selector {
        padding-right:0
}

.language_message {
        position:relative;
        margin:20px;
        padding-right:120px
}

.language_message .iconify {
        color:#e1e2e3;
        position:absolute;
        top:30px;
        right:0;
        font-size:100px
}

.content_filter_selector {
        padding:20px;
        margin:0
}

.content_filter_selector .field_wrapper {
        padding-bottom:10px
}

.content_filter_selector .field_wrapper label {
        font-size:17px;
        line-height:1.3;
        color:#456
}

.content_filter_selector .field_wrapper input {
        margin-right:5px
}

.content_filter_selector fieldset {
        display:block;
        padding:0 0 15px 25px
}

.content_filter_selector fieldset input {
        margin-right:5px
}

.content_filter_selector fieldset label {
        display:block;
        padding-bottom:5px
}

.content_filter_selector .btn {
        background:#4bf;
        font-size:17px;
        line-height:1;
        padding:10px 20px
}

#community_pass_lightbox {
        width:600px
}

#community_pass_lightbox .content {
        padding:20px
}

#community_pass_lightbox .content ul {
        margin-bottom:15px
}

.tooltip,.tooltipify_errors .validation-advice {
        position:absolute;
        display:block;
        width:170px;
        z-index:800
}

.tooltip .body,.tooltip .tooltipify_errors .validation-advice,.tooltipify_errors .tooltip .validation-advice {
        position:relative;
        display:block;
        padding:10px;
        color:#fff;
        text-align:left;
        font-weight:400;
        font-size:12px;
        line-height:1.3;
        background-color:#666;
        border-radius:3px;
        box-shadow:2px 2px 5px 0 rgba(0,0,0,.1)
}

.tooltip .body:after,.tooltip .tooltipify_errors .validation-advice,.tooltipify_errors .tooltip .validation-advice {
        position:absolute;
        display:block;
        content:' ';
        border:8px solid transparent
}

.tooltip.p_up .body:after,.tooltip.p_up .tooltipify_errors .p_up.validation-advice,.tooltipify_errors .tooltip.p_up .p_up.validation-advice {
        margin-left:-8px;
        left:50%;
        top:-16px;
        border-bottom-color:#666
}

.tooltip.p_down .body:after,.tooltip.p_down .tooltipify_errors .p_down.validation-advice,.tooltipify_errors .tooltip.p_down .p_down.validation-advice {
        margin-left:-8px;
        left:50%;
        bottom:-16px;
        border-top-color:#666
}

.tooltip.p_right .body:after,.tooltip.p_right .tooltipify_errors .p_right.validation-advice,.tooltipify_errors .tooltip.p_right .p_right.validation-advice {
        margin-top:-8px;
        top:50%;
        right:-16px;
        border-left-color:#666
}

.tooltip.p_left .body:after,.tooltip.p_left .tooltipify_errors .p_left.validation-advice,.tooltipify_errors .tooltip.p_left .p_left.validation-advice {
        margin-top:-8px;
        top:50%;
        left:-16px;
        border-right-color:#666
}

.tip_hover {
        position:relative
}

.tip_hover .tooltip,.tip_hover .tooltipify_errors .validation-advice,.tooltipify_errors .tip_hover .validation-advice {
        display:none
}

.tip_hover:hover .tooltip,.tip_hover:hover .tooltipify_errors .validation-advice,.tooltipify_errors .tip_hover:hover .validation-advice {
        display:block
}

.tip_question {
        position:relative;
        display:inline-block;
        margin-bottom:-3px;
        width:15px;
        height:15px;
        background:url(../../images_v6/icon_question_sm.png) no-repeat;
        opacity:.3
}

.tip_question .tooltip,.tip_question .tooltipify_errors .validation-advice,.tooltipify_errors .tip_question .validation-advice {
        display:none
}

.tip_question:hover {
        opacity:1!important
}

.tip_question:hover .tooltip,.tip_question:hover .tooltipify_errors .validation-advice,.tooltipify_errors .tip_question:hover .validation-advice {
        display:block
}

.tip_question .p_up {
        padding-top:24px
}

.tip_question .p_up .body {
        left:-50%;
        margin-left:16px
}

.tip_question .p_down {
        bottom:100%;
        padding-bottom:8px
}

.tip_question .p_down .body {
        left:-50%;
        margin-left:16px
}

.tip_question .p_right {
        top:-10px
}

.tip_question .p_right .body {
        left:-100%;
        margin-right:10px
}

.tip_question .p_right .body:after {
        top:18px
}

.tip_question .p_left {
        top:-10px
}

.tip_question .p_left .body {
        left:24px
}

.tip_question .p_left .body:after {
        top:18px
}

.tooltipify_errors .validation-advice {
        bottom:100%;
        padding:9px 12px;
        margin-bottom:5px;
        width:90%;
        background-color:#DE607C;
        color:#fff;
        text-shadow:none;
        font-size:14px;
        border-radius:3px
}

.tooltipify_errors .validation-advice:after {
        display:block;
        position:absolute;
        bottom:-10px;
        width:0;
        height:0;
        content:'';
        border:5px solid transparent;
        border-top-color:#DE607C
}

.tooltipify_errors .validation-advice>a {
        color:#f7c43c
}

.tooltipify_errors .validation-advice>a:hover {
        color:#f9d16d
}

.tooltipify_errors .validation-advice.suggest_email {
        color:#000;
        background-color:#A8CC5E
}

.tooltipify_errors .validation-advice.suggest_email:after {
        border-top-color:#A8CC5E
}

.tooltipify_errors .validation-advice.suggest_email:hover {
        background-color:#93bc3b;
        cursor:pointer
}

.tooltipify_errors .validation-advice.suggest_email:hover:after {
        border-top-color:#93bc3b
}

::after,::before,:not([class^=responsive_border_]) {
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box
}

body {
        line-height:1.2;
        min-width:100%
}

form {
        margin-bottom:0
}

h2 {
        font-family:"Helvetica Neue",Helvetica,sans-serif;
        font-size:36px
}

#ribbon {
        display:block;
        width:100%;
        height:10px
}

.inner_wrap {
        position:relative;
        margin:0 auto;
        max-width:1070px;
        padding:0 40px
}

.cta_btn {
        min-width:180px;
        padding:.9em;
        font-size:18px;
        text-align:center
}

.subhead {
        font-size:24px;
        color:#71767a
}

.col,.row {
        display:block
}

.row+.row {
        margin-top:15px
}

.overTxtLabel {
        line-height:inherit!important;
        top:15px!important;
        left:10px!important;
        font-weight:400
}

@media (max-width:768px) {
.hide_for_tablet {
        display:none!important
}
}

.btn {
        box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(7,31,83,.1)
}

.btn_outline {
        background:0 0;
        box-shadow:inset 0 0 0 2px #4bf;
        padding:15px 40px;
        color:#4bf;
        position:relative;
        z-index:1;
        -webkit-transition:all .15s ease-out 0;
        -moz-transition:all .15s ease-out 0;
        transition:all .15s ease-out 0
}

.btn_outline:focus,.btn_outline:hover {
        background:0 0;
        box-shadow:inset 0 0 0 2px #fff;
        color:#fff
}

.card_item {
        position:relative
}

.card_item:focus .item_desc,.card_item:hover .item_desc,.card_item>a:focus .item_desc,.card_item>a:hover .item_desc {
        opacity:1
}

.item_desc {
        background-color:rgba(0,0,0,.5);
        padding:17% 2%;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        text-align:center;
        opacity:0;
        -webkit-transition:all .15s ease-out 0;
        -moz-transition:all .15s ease-out 0;
        transition:all .15s ease-out 0
}

.item_desc_title {
        display:block;
        color:#fff
}

.item_desc_byline {
        display:block;
        color:#99aabc
}

html[lang=ja] .main_headline {
        font-weight:400;
        font-size:32px;
        margin-top:12px
}

.logged_out_header {
        margin-top:30px;
        margin-bottom:0;
        z-index:2!important
}

.logged_out_menu {
        display:none
}

.search_form {
        margin:0;
        position:relative;
        float:right;
        font-size:16px
}

.search_form::before {
        display:block;
        position:absolute;
        top:7px;
        left:10px;
        color:#fff
}

.search_form .simple_search_input {
        background:rgba(255,255,255,.1);
        border:1px solid rgba(255,255,255,.6);
        border-radius:3px;
        padding:7px 8px 7px 30px;
        width:180px;
        color:#fff;
        line-height:1.2;
        -webkit-transition:all 150ms;
        -moz-transition:all 150ms;
        transition:all 150ms
}

.search_form .simple_search_input:hover {
        border-color:#fff
}

.search_form .simple_search_input:focus {
        border-color:#fff;
        width:250px
}

.intro_card {
        position:relative;
        min-height:670px
}

.intro_card .inner_wrap {
        position:relative;
        max-width:828px;
        z-index:1
}

.intro_card .col {
        float:left
}

.intro_card .masthead {
        margin:-15px auto 42px;
        padding:0 2%
}

@media (max-width:700px) {
.intro_card {
        margin-top:30px;
        min-height:640px
}
}

.logo {
        margin:0 auto;
        width:225px;
        height:64px;
        color:#fff
}

.main_headline {
        font-family:"Helvetica Neue",Helvetica,sans-serif;
        font-size:42px;
        font-weight:700;
        text-align:center;
        color:#fff;
        margin-top:4px
}

@media (max-width:700px) {
.main_headline {
        font-size:24px
}
}

.transparent_overlay_box {
        background:rgba(0,0,0,.5);
        border-radius:2px;
        padding:20px;
        width:340px;
        color:#ccc
}

@media (max-width:750px) {
.transparent_overlay_box {
        margin:0 auto;
        float:none!important
}
}

.transparent_overlay_box .faux_link,.transparent_overlay_box a {
        color:#fff
}

.transparent_overlay_box .faux_link:focus,.transparent_overlay_box .faux_link:hover,.transparent_overlay_box a:focus,.transparent_overlay_box a:hover {
        color:#e6e6e6
}

.os_cont_log .front {
        display:block
}

.os_cont_log .back,.os_cont_log.flipped .front {
        display:none
}

.os_cont_log.flipped .back {
        display:block
}

.flip_box {
        position:absolute;
        left:40px
}

.flip_box_card {
        -webkit-transition:all 100ms ease-out;
        -moz-transition:all 100ms ease-out;
        transition:all 100ms ease-out
}

.log_in_forms,.sign_up_forms {
        width:270px
}

.log_in_forms input:not([type=submit]),.sign_up_forms input:not([type=submit]) {
        color:#4a4d4f
}

.log_in_forms input:not([type=submit])::-webkit-input-placeholder,.sign_up_forms input:not([type=submit])::-webkit-input-placeholder {
        -webkit-transition:color 200ms ease;
        -moz-transition:color 200ms ease;
        transition:color 200ms ease;
        color:#a3a6a9
}

.log_in_forms input:not([type=submit]):-moz-placeholder,.sign_up_forms input:not([type=submit]):-moz-placeholder {
        -webkit-transition:color 200ms ease;
        -moz-transition:color 200ms ease;
        transition:color 200ms ease;
        color:#a3a6a9
}

.log_in_forms input:not([type=submit])::-moz-placeholder,.sign_up_forms input:not([type=submit])::-moz-placeholder {
        -webkit-transition:color 200ms ease;
        -moz-transition:color 200ms ease;
        transition:color 200ms ease;
        color:#a3a6a9
}

.log_in_forms input:not([type=submit]):-ms-input-placeholder,.sign_up_forms input:not([type=submit]):-ms-input-placeholder {
        -webkit-transition:color 200ms ease;
        -moz-transition:color 200ms ease;
        transition:color 200ms ease;
        color:#a3a6a9
}

.log_in_forms input:not([type=submit]):focus::-webkit-input-placeholder,.sign_up_forms input:not([type=submit]):focus::-webkit-input-placeholder {
        color:#888d90
}

.log_in_forms input:not([type=submit]):focus:-moz-placeholder,.sign_up_forms input:not([type=submit]):focus:-moz-placeholder {
        color:#888d90
}

.log_in_forms input:not([type=submit]):focus::-moz-placeholder,.sign_up_forms input:not([type=submit]):focus::-moz-placeholder {
        color:#888d90
}

.log_in_forms input:not([type=submit]):focus:-ms-input-placeholder,.sign_up_forms input:not([type=submit]):focus:-ms-input-placeholder {
        color:#888d90
}

.input_wrapper {
        position:relative
}

.input_wrapper .validation-advice {
        position:absolute;
        left:103%;
        bottom:0
}

.input_wrapper .validation-advice:after {
        border:6px solid transparent;
        border-right-color:#de607c;
        margin-top:-6px;
        top:50%;
        left:-12px;
        bottom:auto
}

form .error,form .validation-failed {
        background-color:#fff
}

.cta_form input[type=submit] {
        width:50%
}

#join_btn,#login_btn {
        padding:14px 20px!important
}

[lang=fr] #login_btn {
        font-size:15px!important
}

.alt_form_option {
        display:inline-block;
        width:48%;
        padding-top:10px;
        text-align:center
}

.feature_list {
        width:calc(100% - 340px - 63px);
        margin-left:60px;
        color:#fff
}

@media (max-width:750px) {
.feature_list {
        display:none
}
}

.feature_list li {
        margin:30px 0;
        padding-left:67px;
        height:40px;
        line-height:40px;
        background-repeat:no-repeat;
        background-position:0 50%
}

.feature_list li:first-of-type {
        margin-top:10px
}

.feature_list .hd {
        background-image:url(../../../images_v6/icon_hd_md.png);
        background-position-x:0
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:21),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
.feature_list .hd {
        background-image:url(../../../images_v6/icon_hd_md@2x.png);
        background-size:40px 18px
}
}

.feature_list .privacy {
        background-image:url(../../../images_v6/icon_lock_md.png);
        background-position-x:6px
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:21),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
.feature_list .privacy {
        background-image:url(../../../images_v6/icon_lock_md@2x.png);
        background-size:27px 37px
}
}

.feature_list .no_ads {
        background-image:url(../../../images_v6/icon_x_md.png);
        background-position-x:5px
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:21),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
.feature_list .no_ads {
        background-image:url(../../../images_v6/icon_x_md@2x.png);
        background-size:29px 29px
}
}

.feature_list .community {
        background-image:url(../../../images_v6/icon_like_white_md.png);
        background-position-x:2px
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:21),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
.feature_list .community {
        background-image:url(../../../images_v6/icon_like_white_md@2x.png);
        background-size:37px 26px
}
}

[lang=de] .feature_list .community,[lang=de] .feature_list .privacy,[lang=es] .feature_list .privacy,[lang=fr] .feature_list .community,[lang=fr] .feature_list .privacy {
        line-height:1.1
}

button.fb_link {
        background-image:url(../../../images_v6/icon_fb_white_sm.png);
        background-repeat:no-repeat;
        padding-left:26px
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:21),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
button.fb_link {
        background-image:url(../../../images_v6/icon_fb_white_sm@2x.png);
        background-size:15px 15px
}
}

@-webkit-keyframes nag_bounce {
100% {
        -webkit-transform:translate(0,4px)
}
}

@-moz-keyframes nag_bounce {
100% {
        -moz-transform:translate(0,4px)
}
}

@-o-keyframes nag_bounce {
100% {
        -o-transform:translate(0,4px)
}
}

@keyframes nag_bounce {
100% {
        transform:translate(0,4px)
}
}

.nag_container {
        display:inline-block;
        margin-top:42px
}

.nag_container:focus .scroll_nag,.nag_container:hover .scroll_nag {
        background-color:rgba(0,0,0,.5)
}

.nag_cta {
        display:block;
        margin-bottom:7px;
        color:#fff
}

.scroll_nag {
        background-color:rgba(0,0,0,.21);
        border:2px solid #fff;
        border-radius:100%;
        display:block;
        margin:0 auto;
        width:48px;
        height:48px;
        position:relative;
        -webkit-transition:all 150ms ease;
        -moz-transition:all 150ms ease;
        transition:all 150ms ease
}

.scroll_nag:focus,.scroll_nag:hover {
        background-color:rgba(0,0,0,.5)
}

.scroll_nag::after {
        -webkit-transform:translate(0,2px);
        -moz-transform:translate(0,2px);
        -ms-transform:translate(0,2px);
        -o-transform:translate(0,2px);
        transform:translate(0,2px);
        background-image:url(../../../images_v6/nag_arrow_rounded.png);
        -webkit-animation:nag_bounce 500ms linear alternate infinite;
        -moz-animation:nag_bounce 500ms linear alternate infinite;
        animation:nag_bounce 500ms linear alternate infinite;
        background-repeat:no-repeat;
        width:36px;
        height:23px;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-18px;
        margin-top:-11.5px;
        content:''
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:21),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
.scroll_nag::after {
        background-image:url(../../../images_v6/nag_arrow_rounded@2x.png);
        background-size:36px 23px
}
}

.staff_picks_card {
        padding:64px 0 75px
}

.staff_picks_card h2 {
        margin:0 auto 38px;
        width:80%
}

.staff_picks_card .inner_wrap {
        max-width:1000px;
        padding:0
}

.staff_picks_card .thumbnail_super_grid+.cta_wrapper {
        margin-top:44px
}

.thumbnail_super_grid {
        margin:0 auto
}

@media (max-width:1000px) {
.thumbnail_super_grid {
        max-width:500px
}
}

.thumbnail_super_grid .col {
        float:left
}

.thumbnail_super_grid .col_quarter {
        width:250px
}

.thumbnail_super_grid .col_half {
        width:500px
}

.thumbnail_super_grid+.cta_wrapper {
        margin-top:35px
}

.thumbnail_super_grid_item {
        display:block;
        margin:3px 5px;
        float:left
}

.thumbnail_super_grid_item.sm .item_desc {
        padding:14% 2%
}

.thumbnail_super_grid_item.sm .item_desc_byline,.thumbnail_super_grid_item.sm .item_desc_title {
        font-size:13px!important;
        line-height:1!important
}

.thumbnail_super_grid_item.sm .btn {
        padding:10px 15px
}

.vod_picks_card {
        padding-bottom:80px
}

.vod_picks_card h2 {
        margin-bottom:39px
}

.vod_picks_card .inner_wrap {
        padding:64px 0 0;
        max-width:990px
}

@media (max-width:1000px) {
.vod_picks_card .inner_wrap {
        padding:64px 40px 0;
        max-width:1040px
}
}

.vod_picks_card .cta_wrapper {
        margin-top:44px
}

.vod_posters {
        margin:0 auto
}

.vod_posters li {
        margin:3px
}

.vod_posters .item_desc {
        background-color:rgba(0,0,0,.5);
        padding:90px 4% 0;
        top:5px;
        bottom:5px;
        left:5px;
        right:5px
}

.vod_posters .btn_outline {
        padding:10px 15px
}

.vod_posters .responsive_border_md {
        padding:4px
}

[lang=de] .vod_posters .btn_outline,[lang=fr] .vod_posters .btn_outline {
        padding:5px
}

.upgrade_card {
        padding:50px 0;
        background-image:url(../../../images_v6/bg_blue_iso_squares.png)
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:21),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
.upgrade_card {
        background-image:url(../../../images_v6/bg_blue_iso_squares@2x.png);
        background-size:300px 300px
}
}

.upgrade_card h2 {
        margin-bottom:5px;
        font-weight:400;
        line-height:1.3
}

.upgrade_card h2.nosubhead {
        margin-bottom:24px
}

.upgrade_card h3 {
        margin-bottom:15px;
        font-weight:400;
        line-height:1.3;
        font-size:28px
}

.upgrade_card .col {
        width:50%;
        float:left
}

.upgrade_card .col.versionb {
        width:auto
}

.upgrade_card .col+.col {
        width:270px;
        margin-left:100px
}

.upgrade_card .col+.col.versionb {
        width:auto
}

@media (max-width:1040px) {
.upgrade_card .col+.col {
        float:right;
        margin:0
}
}

.plus_pro_features {
        margin-top:7px
}

.plus_pro_header {
        margin-bottom:11px;
        color:#456;
        font-weight:700
}

.plus_pro_feature_list {
        color:#163f59;
        position:relative;
        padding-left:30px
}

.plus_pro_feature_list li+li {
        margin-top:7px
}

.plus_pro_feature_list .iconify_check_b:before {
        color:#456;
        font-size:24px;
        font-weight:700;
        vertical-align:middle;
        position:absolute;
        left:0
}

.watch_card {
        padding:74px 0 0
}

.watch_card .subhead,.watch_card h2 {
        text-align:center
}

.watch_card h2 {
        margin-bottom:4px
}

.watch_card .insert {
        display:block;
        width:100%
}

.watch_card .devices {
        margin-top:9px
}

.outro_card {
        background:#fbfbfb;
        border-top:1px solid #e5eaef;
        padding:77px 0
}

.outro_card h2 {
        margin-bottom:17px;
        color:#456
}

.outro_card .cta_btn {
        margin:.5em
}

#ribbon,.logged_out_header,.main {
        position:relative;
        z-index:1
}

.video_wrapper {
        background:#000;
        width:100%;
        max-height:715px;
        position:absolute;
        top:10px;
        left:0;
        z-index:0;
        overflow:hidden
}

.video {
        min-height:715px;
        min-width:100%;
        opacity:.9;
        z-index:1;
        -webkit-transition:opacity 1500ms linear;
        -moz-transition:opacity 1500ms linear;
        transition:opacity 1500ms linear
}

.video.shy {
        opacity:0
}

.video_credit {
        display:block;
        padding:40px;
        position:absolute;
        top:615px;
        right:0;
        z-index:2;
        opacity:.2;
        -webkit-transition:all 300ms ease-out;
        -moz-transition:all 300ms ease-out;
        transition:all 300ms ease-out
}

.video_credit:hover {
        opacity:.8
}

.video_credit a {
        display:block;
        color:#fff
}

.video_credit a:hover {
        color:#e6e6e6
}

.video_credit p {
        margin:0
}

.video_credit .byline {
        color:#fff!important
}

.video_credit .byline:hover {
        color:#e6e6e6!important
}

#footers_footer .contentfilter,#get_tip {
        display:none
}

#footers_footer,#site_footer .container {
        max-width:1030px
}

@media (max-width:958px) {
.footer_tip {
        display:none
}
}

.vod_picks_card .inner_wrap {
        border-top:0 none
}

.hm_card {
        background-image:url(../../../images_v6/hm_promo/hm_lohp_bg.jpg);
        background-color:#fff;
        padding:35px 30px 40px;
        height:330px;
        text-align:center
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:21),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
.hm_card {
        background-image:url(../../../images_v6/hm_promo/hm_lohp_bg@2x.jpg);
        background-size:1580px 330px
}
}

.hm_card .inner_wrap {
        padding:0
}

@media (max-width:1040px) {
.hm_card {
        height:auto
}
}

.hm_content .hm_logo {
        position:relative;
        left:-17px
}

.hm_content .cta_wrapper {
        margin-top:20px
}

.hm_content_logo {
        width:651px;
        float:left
}

@media (max-width:1040px) {
.hm_content_logo {
        float:none;
        margin:0 auto
}
}

@media (max-width:715px) {
.hm_content_logo,.hm_content_logo img {
        width:100%
}
}

.hm_content_quote {
        background-image:url(../../../images_v6/hm_promo/hm_lohp_quote.png);
        background-repeat:no-repeat;
        background-position:50px 0;
        width:277px;
        height:195px;
        margin-top:30px;
        margin-left:60px;
        padding-left:50px;
        border-left:2px solid #000;
        float:left;
        font-size:16px;
        font-weight:400
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:21),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
.hm_content_quote {
        background-image:url(../../../images_v6/hm_promo/hm_lohp_quote@2x.png);
        background-size:225px 195px
}
}

.hm_content_quote p {
        display:none;
        color:#000!important
}

@media (max-width:1040px) {
.hm_content_quote {
        background-image:none;
        border:0;
        margin:0;
        padding:0;
        width:100%;
        height:auto
}

.hm_content_quote p {
        display:inline-block;
        margin-top:40px
}
}