/* Move down content because we have a fixed navbar that is 50px tall */
body {
	font-family: "Verdana", Helvetica, Arial, sans-serif;
	color: #333;
  /*padding-top: 50px;
  padding-bottom: 20px;*/
}

html, body {margin:0;padding:0;height:100%;}

/*
a {
	color: #86c5ec;

}
a:active, a:hover {
	outline: 0;
	text-decoration: none;
}
*/

h4 {
	padding-bottom: 0px !important;
	padding-top: 5px;
	line-height: 0.5;
	color: #F90; 
	font-size: 20px;
	
	}

p {

}


.fa-cc-mastercard:hover {
    color: #e8932d;
    cursor: pointer;
}

.fa-cc-visa:hover {
    color: #e8932d;
    cursor: pointer;
}

.fa-cc-paypal:hover {
    color: #e8932d;
    cursor: pointer;
}



/*img {
    object-fit: cover;
}*/

.my-container [class^="col-"] {
    padding-top: 0px;
    padding-bottom: 0px;
	
}


.social [class*="fa fa-"] {
    background-color: #64788c;
    border-radius: 30px;
    color: #0c2c4b;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: auto 1px;
    width: 25px;
    font-size: 15px;
    text-align: center;
}


.fa-facebook:hover { 
    opacity: 0.9;
}

.fa-twitter:hover { 
    opacity: 0.9;
}
.fa-envelope-o:hover { 
    opacity: 0.9;
}


.links {

	text-decoration: none;
	color:#e8932d;
	font-weight: normal;
}

#hide {
	display: none;
}

#add_createV {
	position: relative;
	margin-top: 20px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
}


#os_howitworks {
	text-align:center;
	padding: 0px;
	
	}

.how {
	color:#ee9821;
	font-size:28px;
	}

.it {
	color:#86c5ec;
	font-size:28px;
	padding:0px 2px;
	}

.works {
	color:#10375e;
	font-size:28px;
	}


.fontawesome-text {
    padding-right: 10px;
}

.container {
	border-radius: 0px;
}

.styled-select {
   background-color: #e8932d;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }


.styled-select {
	width: 240px;
	height: 40px;
	border-radius: 3px;
	overflow: hidden;
	margin-right: 10px;
	color: #fff;
	background-color: #e8932d !important;
	border: 0px solid #ccc;
	background-image: url(../images/arrow_sel.png);
	background-position: 216px;
	background-repeat: no-repeat;
   }


#conditional {
  display: none;
}

#anonymous01:checked ~ #conditional {
  display: block;
}



.input-file{
  display:none !important;  
}

.input-btn{
  background-color: #e8932d;
  color:#fff;
  border:0px solid #8c8c8c;
  padding: 8px 16px;
  border-radius:4px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  margin-top:10px;
  outline: none;
}
.input-btn:hover{
  opacity: 0.8;
}



input[type='file'] {
  color: transparent;
}

.custom-file-input {
  margin-top: 10px;
  visibility: hidden;
  width: 0;
  position: relative;
}

.custom-file-input::before {
  content: 'Choose File';
  display: inline-block;
  background: -webkit-linear-gradient(top, #e8932d, #e8932d);
  border: 0px solid #999;
  border-radius: 3px;
  padding: 8px 12px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}



.channels_explore1 {
	display: inline-block;
	color: #FFF;
	margin-top: 5px;
	font-weight: normal;
	padding: 65px 0 0 0;
	text-align: center !important;
	width: 49.2%; /* ndrysho later */
	height: 90px;
	background-image: url(../images/categories/byuser.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	background-color: #faae3e;
	border: 0px solid #ddd;
	float:left;
	border-radius: 10px 0px 0px 10px;
	font-size:14px;
}

.channels_explore2 {
	margin-top: 5px;
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 65px 0 0 0;
	text-align: center !important;
	width: 49.2%; /* ndrysho later */
	height: 90px;
	float: right;
	background-image: url(../images/categories/ontherise.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	background-color: #faae3e;
	border: 0px solid #ddd;
	border-radius: 0 10px 10px 0;
	font-size:14px;

}

.channels01 {
	display: inline-block;
	margin-left: 10px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	background-image: url(../images/categories/art.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	background-color: #edc07f;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels02 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/reviews.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #84c4ea;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels03 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/science_tech.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #97dc72;
	border: 0px solid #ddd;
	border-radius: 7px
}


.channels04 {
	display: inline-block;
	margin-left: 10px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/citizen_journalism.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-top: 10px;
	background-color: #2fa95e;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels05 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	margin-top: 10px;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/animals.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #2d3e50;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels06 {
	display: inline-block;
	color: #FFF;
	margin-top: 10px;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/comedy.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #ecb737;
	border: 0px solid #ddd;
	border-radius: 7px
}


.channels07 {
	display: inline-block;
	margin-left: 10px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/DIY.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-top: 10px;
	background-color: #32d3fd;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels08 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	margin-top: 10px;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/fashion.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #eb85d8;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels09 {
	display: inline-block;
	color: #FFF;
	margin-top: 10px;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/music_dance.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #95dd71;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels10 {
	margin-top: 10px;
	display: inline-block;
	margin-left: 10px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	background-image: url(../images/categories/news.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	background-color: #edc07f;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels11 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/politics.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #97dc72;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels12 {
	margin-left: 10px;
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/social_justice.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #84c4ea;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels13 {
	margin-left: 10px;
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/story_telling.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #97dc72;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels14 {
	margin-top: 10px;
	display: inline-block;
	margin-left: 10px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	background-image: url(../images/categories/whistle_blower.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	background-color: #edc07f;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels15 {
	margin-left: 10px;
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
		background-image: url(../images/categories/sport.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70px auto;
	margin-left: 10px;
	background-color: #84c4ea;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels01:hover { opacity:0.8; }
.channels02:hover { opacity:0.8; }
.channels03:hover { opacity:0.8; }
.channels04:hover { opacity:0.8; }
.channels05:hover { opacity:0.8; }
.channels06:hover { opacity:0.8; }
.channels07:hover { opacity:0.8; }
.channels08:hover { opacity:0.8; }
.channels09:hover { opacity:0.8; }
.channels10:hover { opacity:0.8; }
.channels11:hover { opacity:0.8; }
.channels12:hover { opacity:0.8; }
.channels13:hover { opacity:0.8; }
.channels14:hover { opacity:0.8; }
.channels15:hover { opacity:0.8; }



.form-control_explore {
	display: block;
	width: 100%;
	font-weight: bold;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #FFF !important;
	background-color: #ffd299;
	background-image: none;
	border: 1px solid #e8932d;
	border-radius: 4px;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s*/
}


.form-control_groups {
	display: block;
	width: 100%;
	font-weight: bold;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #666 !important;
	background-color: #d2e6f2;
	background-image: none;
	border: 1px solid #86c5ec;
	border-radius: 4px;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s*/
}

#srch-term{
	color: #fff;
	width:100%; 
	height:40px;
}

#srch-term-icon{
	background-color:#E8932D;	
	border:1px solid #E8932D; 
	width:auto; 
	margin-left: -2px;
	height:40px;
}

#srch-term-icon_g{
	background-color:#86c5ec;	
	border:1px solid #86c5ec; 
	width:auto; 
	margin-left: -2px;
	height:40px;
}

#os_logo_pg {
	position:absolute;
	top:5px;
	left:7px;
	
	}

#os_header_pg{
	position:relative;
	z-index:10;
	background-color: #0C2C4B;
	margin-top: 0px;
	}


.container_dashboard {

	margin-top: 15px;
}


#os_socmedia_bg{
	display: none;
	position:absolute;
	top:-35px;
	right:0px;
	width:120px;
	text-align:right;
	display:block;
	
	}

#srch_home input[type=search] {
	display: none;
	background-color: transparent;
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	border: 0px solid #47677D;
	/*border: 1px solid rgba(255,255,255,.6)*/
	padding: 5px 5px 2px 25px;
	background-image: url(../images/srch_icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 15px auto;
	width:160px;
	border-radius:5px;
	cursor: auto;
	-webkit-transition: all 150ms;
   -moz-transition: all 150ms;
    transition: all 150ms;
}


/* img */

.circular-image img {
	object-fit: cover;
    width:120px;
    height:120px;
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    -ms-border-radius:150px;
    -o-border-radius:150px;
    border-radius:150px
}


.row {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}



.avatar-frame{border: 2px solid #c7b89e;}
.avatar-frame,.avatar-frame img{
	width: 90px;
	height: 90px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
	}


.circular-image_signup img {
	object-fit: cover;
    width:90px;
    height:90px;
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    -ms-border-radius:150px;
    -o-border-radius:150px;
    border-radius:150px;

}

.circular-image_login img {
	margin-top: -15px;
	border:1px solid #fff;
    width:60px;
    height:60px;
    border: solid 1px #FFF;
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    -ms-border-radius:150px;
    -o-border-radius:150px;
    border-radius:150px
}

.circular-image_stack img {
	object-fit: cover;
	border:1px solid #fff;
    width:45px;
    height:45px;
    border: solid 1px #FFF;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
}

.circular-image_invite img {
	object-fit: cover;
    width:70px;
    height:70px;
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    -ms-border-radius:150px;
    -o-border-radius:150px;
    border-radius:150px
}


.time_limit {
	background-color: #FFF;
	padding-top: 0px;
	float: left;
	margin-left: 5px;
	font-size: 13px;
	color: #999;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.seconds {
	margin-top: 10px;
	float: left;
	margin-left: 10px;
	font-size: 13px;
	color: #666;
	text-align: center;

}


.invite_plus {
	background-color: #86c5ec;
	padding-top: 6px;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.invite_plus1 {
	padding-top: 6px;
	background-color: #ec971c;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}


.userpro01 {
	background-color: none;
	color: #85c4eb;
	padding: 3px 0 0 0;
	text-align: center;
	border: 0px solid #85c4eb;
	border-radius: 5px;
	width: 25px;
	height: 25px;

}

.userpro02 {
	background-color: none;
	color: #fbad3d;
	padding: 3px 0 0 0;
	text-align: center;
	border: 0px solid #85c4eb;
	border-radius: 5px;
	width: 25px;
	height: 25px;

}

.userptxt{
	color:#FFF;
	text-align:left; 
	background-color:#85c4eb;
}

.userptxt01{
	color:#FFF;
	text-align:left; 
	background-color:#fbad3d;
}

.col-md-8_main {
	background-color:#FFF;
	border-radius: 5px;
	padding: 15px !important;
}


.col-md-3_dash {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.col-md-8 {
  background-color: #fff;
  border-radius: 5px;
}

.col-md-2_userpro {
	width: 110px;
	float: left;
	padding-left: 10px;
}


.col-md-2_userproname {
	width: 50%;
	float: left;
}

.col-md-2_invite {
	position: relative;
	width: 85px;
	float: left;
	text-align: center;
	padding-left: 0px;
}


.col-md-2_inviteproname {
	width: 100%;
	float: none;
}


.userfontnumber {color:#86c5ec; font-size:17px;}
.userfont {color:#999; font-size:17px;}

.txt_share {
	color:#86c5ec;
	font-size: 15px;
}

.h4_class {
	color: #F90; 
	font-size: 20px;
	
	}
	
.p_class {
	color: #877f71; 
	font-size: 16px;
	
	}	

.p_class1 {
	color: #877f71; 
	font-size:13px;
	
	}


.topTest {

	background-color: #efefef;
	margin: 20px 0px;
	min-height: 15px;
	margin-right: -15px;
	margin-left: -15px;
}



.relTstacks {
	color: #10375e;
	font-size:16px;
	margin-top:5px;
	padding: 5px 0px 10px 0px;
	font-weight:bold;	
	
	}

	.relTstacks_name {
	color: #10375e;
	font-size:17px;
	margin-top:5px;
	padding: 5px 0px 10px 0px;
	font-weight:normal;	
	
	}

.relTstacks_place {
	color: #7f7f7f;
	font-size:15px;
	margin-top:5px;
	padding: 5px 0px 10px 0px;
	font-weight:normal;	
	
	}			

.container_test {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:30px;
	margin-top:10px;
	background-color:none;
}

.topTstacks {
	color: #10375e;
	font-size:16px;
	margin-top:10px;
	font-weight:bold;	
	}

.relTstacks {
	color: #10375e;
	font-size:16px;
	margin-top:5px;
	padding: 5px 0px 10px 0px;
	font-weight:bold;	
	
	}


.fb_test {
	/*background-color:rgba(58,87,149,1);*/
	background:none;
	border:solid 0px #1D2A5B;
	padding:6px 5px;
	float:left;
	color: #FFF;
	font-weight:normal;
	margin-left:-15px;
	border-radius:3px;
	margin-top:-35px;
	}
	
.btn_log {
	/*background-color:rgba(255,153,0,1);*/
	padding:14px;
	color: #FFF;
	text-decoration: none;
	}

.btn_log1 {
	/*background-color:rgba(255,153,0,1);*/
	padding:14px 55px;
	color: #FFF;
	text-decoration: none;
	}
	
.sstacking {
	width:130px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
	}

.slideshow-element{
    position: absolute;
}

.navbar-inverse{
	
	padding:0px 10px;
	}

.my-inner {
	margin-top:15px;
	/*padding: 120px 10px;*/
	height:auto;
	/*background-color: rgba(51,51,51,0.15);*/
	border: 0px solid rgba(86,61,124,.2);
	text-align:center;
  }
  
 .my-inner_btn {
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 42%;
	color: #fff;
	text-align: center;
	margin-top: 5px;
	padding: 13px 0px;
	height: auto;
	border: 0px solid rgba(86,61,124,.2);
	/*background-color: #63656C;*/
	border-bottom: 3px #414042 inset;
  }
  
  /*
   .my-inner_btn1 {
	 text-transform: uppercase;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	margin-top: 5px;
	padding: 13px 0px;
	height: auto;
	border: 0px solid rgba(86,61,124,.2);
	background-color: #EC971D;
  }*/


.my-inner_btn12 {
	 text-transform: uppercase;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	margin-top: 5px;
	/*padding: 20px 0px;*/
	height: auto;
	font-size:18px;
	/*background-color: #333;*/

	/*border-bottom: 3px #414042 inset;*/
  } 

  
 .onstack01 {
	height: 100%;
	min-height: 100%;
	background-image: url(../video/video.jpg);	/* remove later */
	background-position: -150px bottom;
	 }
 
 #os_header{
	position:relative;
	z-index:10;
 }


#os_logo{
	position:absolute;
	top:11px;
	left:0px;
	
	}

#os_socmedia{
	position:absolute;
	top:20px;
	right:0px;
	width:120px;
	text-align:right;
	display:none;
	
	}
	
	
#os_srch{
	position:absolute;
	top:20px;
	right:150px;
	
	
	}
 
 
.hero_spot{
	height:auto;
	float:left;
	width:100%;
	/*margin: 100px auto;*/
	/*text-align: center;*/
	color: #FFF;
	}  

.txt_right {
	text-align: left;
	margin-top:15px;
	}
	

	
.row_mobile {
	min-width:100%;
	
	}	
	

#os_header{
	position:relative;
	z-index:10;

	}

#os_logo{
	position:absolute;
	top:5px;
	left:10px;
	
	}

#os_socmedia{
	position:absolute;
	top:20px;
	right:0px;
	width:120px;
	text-align:right;
	display:none;
	
	}
	
	
#os_srch{
	position:absolute;
	top:10px;
	right:10px;
	
	
	}

#os_desc {
	width:98%;
	top:50px;
	position:relative;
	padding:2%;
	float:none;
	margin-left:auto;
	margin-right:auto;
	height:100px;
	
	}

#os_join_signup {
	width:auto;
	float:none;
	margin-left:auto;
	margin-right:auto;	
	top:80px;
	height:200px;
	position:relative;
	padding:4%;
	/*background-color:rgba(0,102,204,1);*/
	
	}

.onbg {
	position:absolute;
	text-align:left;
	top:0px;
	left:10px;
	width: 100%;	
	}
	
.onforma {
	position:absolute;
	text-align:left;
	top:10px;
	height:280px;
	left:0px;
	background-color: rgba(0,0,0,0.5);
	/*background-color: #999999;*/
	/*opacity: 0.8;*/
	padding:15px 10px;
	border-radius: 3px;
	width: 90%;
	}
	
.classh2 {
	font-size: 32px;
	
	}
	
.classh3 {
	font-size: 16px;
	width:100%;
	
	}
		
	
.socmedia {
	color:#FFF;
	margin-top:0px;
	max-width:140px;
	float: right;
	text-align:right;
	}

.socmedia1 {
	color:#FFF;
	text-align: right;
	}


footer {
	text-align: center;
	color: #949494;
	padding: 30px 0 20px 0;
	text-transform:uppercase;
	font-size:11px;
	font-weight:normal;
	
	}
	
footer a {
	text-align: center;
	color: #949494;
	text-transform:uppercase;
	font-size:11px;
	padding: 0px 15px;
	font-weight:normal;
	
	}
	
footer a:hover {
	text-align: center;
	color: #BAB8BC;

	
	}


#footer1 {
	border-top: 1px solid #ccc;
	text-align: center;
	color: #949494;
	padding: 40px 0 20px 0;
	text-transform:uppercase;
	font-size:11px;
	font-weight:normal;
	
	}
	
#footer1 a {
	text-align: center;
	color: #949494;
	text-transform:uppercase;
	font-size:11px;
	padding: 0px 15px;
	font-weight:normal;
	
	}
	
#footer1 a:hover {
	text-align: center;
	color: #BAB8BC;

	
	}


video#bgvid {
	position: absolute; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(../video/video.png) no-repeat;
	background-size: cover;
}


.test_feature {
	padding: 0;
	position: absolute;
	margin: 0 0 90px;
/*	opacity: 0.9;*/
	width: 100%;
	height:100%;
	/*background-color:#857E85;*/
	background-image: url(../video/raster.png);
	background-position: top left repeat;
	background-repeat: repeat;  
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
}

.feature {
	border-top: 0px solid #ddd;
	overflow: hidden;
	opacity: 0;
	margin: 0 0 0px;
	padding: 0px;
	position: absolute;
	white-space: nowrap;
	width: 100%;
	z-index: -5;
	-webkit-filter: brightness(.8);
    filter: brightness(.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	
}

.feature h1 {
	display: table-cell;
	color: #fff;
	margin: auto 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
	z-index: -5;
	background-color: transparent;
	background-image: url(video/raster.png);
	background-position: top left repeat;
	background-repeat: repeat;
}

.start_os {
	/*opacity: 0.5;*/
	text-align: center;
	position: absolute;
	top: auto;
	bottom:10px;
	width: 100%;
	}
	
.start_os a {
	/*opacity: 0.5;*/
	text-align: center;
	text-decoration:none;
	font-size:18px;
	/*margin-bottom:10px;*/
	top: auto;
	color:#FFF;
	}


.start_inner {
	/*opacity: 0.5;*/
	text-align: center;
	color: #FFF;
	width: 55px;
	height: 55px;
	padding: 14px 2px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20%;
	/*background-color: rgba(63,102,128,0.8);*/
	background-color: rgba(0,0,0,0.5);
	border: 2px solid rgba(255,255,255,0.8);
	background-position: center center;
	}
	
.start_os1 a {
	opacity: 0.5;
	text-align: center;
	position: absolute;
	top: 590px;
	width: 5%;
	margin-left: 47.5%;
	margin-right: 47.5%;
	border-radius: 3px;
	background-color: rgba(63,102,128,0.8);	
	}

.start_os1 a:hover {
	opacity: 0.2;
	background-color: #FFF;	
	}
	
	
.start_osTop {
	/*background-color: #F90;
	opacity: 0.5;*/
	text-align: center;
	position: absolute;
	top: 0px;
	width: 100%;
	border-radius: 0px;
	background-color: rgba(63,102,128,0.8);
	padding: 25px 0px;	/*border-bottom: solid 1px #666666;*/	/*-webkit-box-shadow: 0px 0px 8px 2px #888;
       -moz-box-shadow: 0px 0px 8px 2px #888;
            box-shadow: 0px 0px 8px 2px #888;*/
	}	


#srch input[type=search] {
	background-color: rgba(255,255,255,0.3);
	color: #FFF;
	float:right;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #47677D;
	/*border: 1px solid rgba(255,255,255,.6)*/
	padding: 5px 5px 5px 25px;
	background-image: url(../images/srch_icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 15px auto;
	width:120px;
	margin-right:0px;
	border-radius:5px;
	cursor: auto;
	-webkit-transition: all 150ms;
   -moz-transition: all 150ms;
    transition: all 150ms;
}
#srch input[type=search]:hover {
	/*background-color: #fff;*/
}
#srch input[type=search]:focus {
	width: 130px;
	padding-right: 32px;
	/*color: #000;
	background-color: #fff;
	cursor: auto;*/
}
#srch input:-moz-placeholder {
	color: transparent;
}
#srch input::-webkit-input-placeholder {
	color: transparent;
}


@media screen and (min-width: 481px) {


}


@media only screen and (min-width: 769px) { 


.my-container [class^="col-"] {
    padding-top: 0px;
    padding-bottom: 0px;
	
}

.topTstacks {
	color: #10375e;
	font-size:20px;
	margin-top:10px;
	font-weight:bold;	
	}

.relTstacks {
	color: #10375e;
	font-size:20px;
	margin-top:5px;
	padding: 5px 0px 10px 0px;
	font-weight:bold;	
	
	}

	.relTstacks_name {
	color: #10375e;
	font-size:20px;
	margin-top:5px;
	padding: 5px 0px 10px 0px;
	font-weight:normal;	
	
	}
.relTstacks_place {
	color: #7f7f7f;
	font-size:16px;
	margin-top:5px;
	padding: 5px 0px 10px 0px;
	font-weight:normal;	
	
	}

#dashboard_cont {


	background-color: #FFF;
	min-width: 100%;
	padding: 0px;
	margin-right: -15px;
	margin-left: -15px;
}

.dashboard_top {

	margin-top: 20px;
}



.row {
	margin-right: -5px;
	margin-left: -5px;
	margin-top: 5px;
	margin-bottom: 5px;
}


.navbar-inverse{
	
	padding:10px;
	}


.my-inner {
	margin-top:15px;
	/*padding: 120px 10px;*/
	height:auto;
	/*background-color: rgba(51,51,51,0.15);*/
	border: 0px solid rgba(86,61,124,.2);
	text-align:center;
  }
  
 .my-inner_btn {
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 42%;
	color: #fff;
	text-align: center;
	margin-top: 5px;
	padding: 13px 0px;
	height: auto;
	border: 0px solid rgba(86,61,124,.2);
	/*background-color: #63656C;*/
	border-bottom: 3px #414042 inset;
  }
 
.my-inner_btn12 {
	 text-transform: uppercase;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	margin-top: 5px;
	/*padding: 20px 0px;*/
	height: auto;
	font-size:18px;
	/*background-color: #333;*/

	/*border-bottom: 3px #414042 inset;*/
  } 
  
.my-inner_btn1 {
	 text-transform: uppercase;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	margin-top: 0px;
	padding: 17px 0px;
	height: auto;
	float:left;
	width:100%;
	border: 0px solid rgba(86,61,124,.2);
	/*background-color: #EC971D;*/
	/*border-bottom: 3px #414042 inset;*/
  }
  
  .my-inner_btn1 a {
	text-transform: uppercase;
	text-decoration:none;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	margin-top: 1px;
	padding: 20px 0px;
	height: auto;
	font-size:18px;
	border: 0px solid rgba(86,61,124,.2);
	/*background-color: #EC971D;*/
	/*border-bottom: 3px #414042 inset;*/
  }
 
 .onstack01 {
	 height:620px;
	 min-height:620px;
	 background-image: none;	/* remove later */ 
	 }
 
 .onstack_pg {
	 height:80px;
	 min-height:80px;
	 background-image: none;	/* remove later */ 
	 }
 
.hero_spot{
	/*margin: 100px auto;*/
	/*text-align: center;*/
	color: #FFF;
	height:auto;
	float:none;
	position:relative;
	
	}  

.txt_right {
	text-align: right;
	margin-top:10px;
	color:#FFF;
	}
	

	
.classh2 {
	font-size: 46px;
	
	}

.classh3 {
	font-size: 22px;
	
	}

.socmedia {
	color:#FFF;
	}

footer {
	text-align: center;
	color: #949494;
	padding: 30px 0 20px 0;
	text-transform:uppercase;
	font-size:13px;
	font-weight:normal;
	
	}
	
footer a {
	text-align: center;
	color: #949494;
	text-transform:uppercase;
	font-size:13px;
	padding: 0px 15px;
	font-weight:normal;
	
	}
	
footer a:hover {
	text-align: center;
	color: #BAB8BC;

	
	}

#footer1 {
	border-top: 1px solid #ccc;
	text-align: center;
	color: #949494;
	padding: 40px 0 20px 0;
	text-transform:uppercase;
	font-size:13px;
	font-weight:normal;
	
	}
	
#footer1 a {
	text-align: center;
	color: #949494;
	text-transform:uppercase;
	font-size:13px;
	padding: 0px 15px;
	font-weight:normal;
	
	}
	
#footer1 a:hover {
	text-align: center;
	color: #BAB8BC;

	
	}
	

.test_feature {
	padding: 0;
	position: absolute;
	margin: 0 0 90px;
/*	opacity: 0.9;*/
	width: 100%;
	height:620px;
	background-color:transparent;
	background-image: url(../video/raster.png);
	background-position: top left repeat;
	background-repeat: repeat;  
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
}

.feature {
	border-top: 0px solid #ddd;
	overflow: hidden;
	opacity: 0;
	margin: 0 0 0px;
	padding: 0px;
	position: absolute;
	white-space: nowrap;
	width: 100%;
	height:620px;
	z-index: -5;
	/*	-webkit-filter: blur(3px);
	  -moz-filter: blur(3px);
	  -o-filter: blur(3px);
	  -ms-filter: blur(3px);
	  filter: blur(3px);*/
	-webkit-filter: brightness(.8);
    filter: brightness(.8);
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
	
}

.feature h1 {
	display: table-cell;
	color: #fff;
	margin: auto 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
	z-index: -5;
	background-color: transparent;
	background-image: url(video/raster.png);
	background-position: top left repeat;
	background-repeat: repeat;
}

#os_header{
	position:relative;
	z-index:10;
	}

#os_header_pg{
	position:relative;
	z-index:10;
	margin-top: 45px;
	}


#os_logo{
	position:absolute;
	top:11px;
	left:0px;
	
	}

#os_logo_pg {
	position:absolute;
	top:17px;
	left:0px;
	
	}

#os_socmedia{
	position:absolute;
	top:20px;
	right:0px;
	width:120px;
	text-align:right;
	display:block;
	
	}
	

#os_socmedia_bg{
	display: block;
	position:absolute;
	top:-35px;
	right:0px;
	width:120px;
	text-align:right;
	display:block;
	
	}
	
#os_srch{
	position:absolute;
	top:20px;
	right:150px;

	}

#os_srch_pg{
	position:absolute;
	top:-35px;
	right:400px;

	}
#os_Topmenu {
	position:absolute;
	top: 25px;
	right:0px;
	color: #FFF;	
	}

#os_desc {
	width: 50%;
	position: relative;
	top: 90px;
	float: left;
	text-align: right;
	/*background-color: rgba(153,153,102,1);	*/
	}

#os_join_signup {
	width:50%;
	position:relative;
	top:40px;
	float:right;
	
	}

.onbg {
	position:absolute;
	text-align:left;
	top:120px;
	left:auto;
	right:0px;
	width: 320px;	
/*	background-color:rgba(0,102,153,1);*/
	}
	
.onforma {
	position:absolute;
	text-align:left;
	top:100px;
	left:20px;
	/*background-color: rgba(171,160,144,0.8);*/
	/*margin-top: 175px;*/
	padding: 15px 10px;
	border-radius: 3px;
	width: 360px;
	max-width:350px;
	min-width:350px;
	min-height:340px;
	}

.start_os {
	/*opacity: 0.5;*/
	text-align: center;
	position: absolute;
	top: 520px;
	bottom:auto;
	width: 100%;
	}

.start_inner {
	/*opacity: 0.5;*/
	text-align: center;
	color: #FFF;
	width: 55px;
	height: 55px;
	padding: 14px 2px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20%;
	/*background-color: rgba(63,102,128,0.8);*/
	background-color: rgba(0,0,0,0.5);
	border: 2px solid rgba(255,255,255,0.8);
	background-position: center center;
	}
	
.start_osTop {
	/*background-color: #F90;
	opacity: 0.5;*/
	text-align: center;
	position: absolute;
	top: 0px;
	z-index:-5;
	width: 100%;
	border-radius: 0px;
	background-color: rgba(63,102,128,0.8);
	padding: 35px 0px;	/*border-bottom: solid 1px #666666;*/	/*-webkit-box-shadow: 0px 0px 8px 2px #888;
       -moz-box-shadow: 0px 0px 8px 2px #888;
            box-shadow: 0px 0px 8px 2px #888;*/
	}

.start_osTop_pg {
	/*background-color: #F90;
	opacity: 0.5;*/
	text-align: center;
	position: absolute;
	top: 45px;
	z-index:-5;
	width: 100%;
	border-radius: 0px;
	background-color: #10375e;
	padding: 42px 0px;	/*border-bottom: solid 1px #666666;*/	/*-webkit-box-shadow: 0px 0px 8px 2px #888;
       -moz-box-shadow: 0px 0px 8px 2px #888;
            box-shadow: 0px 0px 8px 2px #888;*/
	}

.start_osTop_pgTop {
	/*background-color: #F90;
	opacity: 0.5;*/
	text-align: center;
	position: absolute;
	top: 0px;
	z-index:-5;
	width: 100%;
	border-radius: 0px;
	background-color: #0C2C4B;
	padding: 55px 0px;	/*border-bottom: solid 1px #666666;*/	/*-webkit-box-shadow: 0px 0px 8px 2px #888;
       -moz-box-shadow: 0px 0px 8px 2px #888;
            box-shadow: 0px 0px 8px 2px #888;*/
	}

.logo {
	max-width:300px;
	
	}


#os_howitworks {
	text-align:center;
	padding: 0px;
	
	}

.how {
	color:#ee9821;
	font-size:38px;
	}

.it {
	color:#86c5ec;
	font-size:38px;
	padding:0px 2px;
	}

.works {
	color:#10375e;
	font-size:38px;
	}
	
	
/*.srch {
	background-color: rgba(255,255,255,0.3);
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #47677D;
	padding: 5px 5px 5px 25px;
	background-image: url(../images/srch_icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 15px auto;
	-webkit-transition: all 150ms;
   -moz-transition: all 150ms;
    transition: all 150ms;

	}*/
	

.container_dashboard {

	margin-top: 30px;
	/*margin-bottom: 50px;*/
}

.container {
	border-radius: 5px;
}
	
#srch input[type=search] {
	background-color: rgba(255,255,255,0.3);
	color: #FFF;
	float:right;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #47677D;
	/*border: 1px solid rgba(255,255,255,.6)*/
	padding: 5px 5px 5px 25px;
	background-image: url(../images/srch_icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 15px auto;
	width:135px;
	margin-right:0px;
	border-radius:5px;
	cursor: auto;
	-webkit-transition: all 150ms;
   -moz-transition: all 150ms;
    transition: all 150ms;
}
#srch input[type=search]:hover {
	/*background-color: #fff;*/
}
#srch input[type=search]:focus {
	width: 230px;
	padding-right: 32px;
	/*color: #000;
	background-color: #fff;
	cursor: auto;*/
}
#srch input:-moz-placeholder {
	color: transparent;
}
#srch input::-webkit-input-placeholder {
	color: transparent;
}


#srch_home input[type=search] {
	display: block;
	background-color: transparent;
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	border: 0px solid #47677D;
	/*border: 1px solid rgba(255,255,255,.6)*/
	padding: 5px 5px 2px 25px;
	background-image: url(../images/srch_icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 15px auto;
	width:160px;
	border-radius:5px;
	cursor: auto;
	-webkit-transition: all 150ms;
   -moz-transition: all 150ms;
    transition: all 150ms;
}
#srch_home input[type=search]:hover {
	/*background-color: #fff;*/
}
#srch_home input[type=search]:focus {
	width: 160px;
/*	padding-right: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;*/
}
#srch_home input:-moz-placeholder {
	color: transparent;
}
#srch_home input::-webkit-input-placeholder {
	color: transparent;
}


/* srch explore tags */
#srch_home_tags input[type=search] {
	display: block;
	background-color: #ffd299;
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #e8932d;
	/*border: 1px solid rgba(255,255,255,.6)*/
	padding: 12px 12px 12px 25px;
	background-image: url(../images/srch_icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 15px auto;
	width:100%;
	border-radius:5px;
	cursor: auto;
	-webkit-transition: all 150ms;
   -moz-transition: all 150ms;
    transition: all 150ms;
}
#srch_home_tags input[type=search]:hover {
	/*background-color: #fff;*/
}
#srch_home_tags input[type=search]:focus {
	width: (100%);
/*	padding-right: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;*/
}
#srch_home_tags input:-moz-placeholder {
	color: transparent;
}
#srch_home_tags input::-webkit-input-placeholder {
	color: transparent;
}





.col-md-2_invite {
	position: relative;
	width: 85px;
	float: left;
	padding-left:10px;
}


.col-md-2_inviteproname {
	width: 35%;
	float: left;
}


.col-md-2_invite1 {
	position: relative;
	width: 85px;
	float: left;
	text-align: center;
	padding-left: 0px;
}


.col-md-2_inviteproname1 {
	width: 100%;
	float: none;
}


.userfontnumber {color:#86c5ec; font-size:20px;}
.userfont {color:#999; font-size:20px;}

.col-md-3_dash {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 0px;
}


#add_createV {
	position: relative;
	margin-top: 20px;
	padding: 15px;
	clear: none;
	float: left;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: auto;/* ndrysho/height auto */
	border: 1px solid #ccc;
	border-radius: 5px;
}





/*   */


.bs-table{
    	margin: 20px;
    }


    .fa-play{
 	color:#86c5ec;
}
#btn-color{
		background-color: 

}

#sel2{
	width:255px; 
	height:40px;
	border-radius: 5px;
	background: #E8932D;
	color:#fff;
}
#sel2:hover{
background-color: none;

}
#buttons{
	float: right;
	  margin-bottom: 1.5em;
}
#cssTable th 
{
    text-align:center; 
    vertical-align:middle;
}
#srch-term{
	color: #333;
	width:100%; 
	height:40px;
}
#srch-term-icon{
	background-color:#E8932D;	
	border:1px solid #E8932D; 
	width:auto; 
	margin-left: -2px;
	height:40px;
}


#srch-term-icon_g{
	background-color:#86c5ec;	
	border:1px solid #86c5ec; 
	width:auto; 
	margin-left: -2px;
	height:40px;
}
/*======================================================
		Checkbox
======================================================*/
.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fff;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);width: 20px;	height: 20px;
}

.regular-checkbox:checked + label {
	background-color: #fff;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #E8932D;
}
/* ============================================
 	Tabel
 ======================================       */ 
.table, th, td {
    border: 1px solid #efefef;
    text-align: left;
    color: #7f7f7f;

    }


/*
===========================================================
	Manage Videos style ends
===========================================================
*/



.styled-select {
   background-color: #e8932d;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }


.styled-select {
	width: 240px;
	height: 40px;
	border-radius: 3px;
	overflow: hidden;
	margin-right: 10px;
	color: #fff;
	background-color: #e8932d !important;
	border: 0px solid #ccc;
	background-image: url(../images/arrow_sel.png);
	background-position: 216px;
	background-repeat: no-repeat;
   }




.channels_explore1 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 65px 0 0 0;
	text-align: center !important;
	width: 49.7%; /* ndrysho later */
	height: 100px;
	background-image: url(../images/categories/byuser.png);
	background-position: top center;
	background-repeat: no-repeat;
	float: left;
	background-color: #faae3e;
	border: 0px solid #ddd;
	border-radius: 10px 0px 0px 10px;
	font-size:18px;
}

.channels_explore2 {
	display: inline-block;
	color: #FFF;
	float: right;
	font-weight: normal;
	padding: 65px 0 0 0;
	text-align: center !important;
	width: 49.7%; /* ndrysho later */
	height: 100px;
	background-image: url(../images/categories/ontherise.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #faae3e;
	border: 0px solid #ddd;
	border-radius: 0 10px 10px 0;
	font-size:18px;

}





.channels01 {
	display: inline-block;
	margin-left: 0px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	background-color: #edc07f;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels02 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #84c4ea;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels03 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #97dc72;
	border: 0px solid #ddd;
	border-radius: 7px
}


.channels04 {
	display: inline-block;
	margin-left: 0px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-top: 10px;
	background-color: #2fa95e;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels05 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	margin-top: 10px;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #2d3e50;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels06 {
	display: inline-block;
	color: #FFF;
	margin-top: 10px;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #ecb737;
	border: 0px solid #ddd;
	border-radius: 7px
}


.channels07 {
	display: inline-block;
	margin-left: 0px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-top: 10px;
	background-color: #32d3fd;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels08 {
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	margin-top: 10px;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #eb85d8;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels09 {
	display: inline-block;
	color: #FFF;
	margin-top: 10px;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #95dd71;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels10 {
	margin-top: 10px;
	display: inline-block;
	margin-left: 0px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	background-color: #edc07f;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels11 {
	margin-top: 10px;
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #84c4ea;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels12 {
	margin-top: 10px;
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #97dc72;
	border: 0px solid #ddd;
	border-radius: 7px
}


.channels13 {
	margin-top: 10px;
	display: inline-block;
	margin-left: 0px;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	background-color: #edc07f;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels14 {
	margin-top: 10px;
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #84c4ea;
	border: 0px solid #ddd;
	border-radius: 7px
}

.channels15 {
	margin-top: 10px;
	display: inline-block;
	color: #FFF;
	font-weight: normal;
	padding: 22px 0 0 0;
	text-align: center !important;
	width: 90px; /* ndrysho later */
	height: 90px;
	margin-left: 10px;
	background-color: #97dc72;
	border: 0px solid #ddd;
	border-radius: 7px
}

.form-control_explore {
	display: block;
	width: 100%;
	font-weight: bold;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #FFF !important;
	background-color: #ffd299;
	background-image: none;
	border: 1px solid #e8932d;
	border-radius: 4px;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s*/
}


/*  end of # */



.form-control_groups {
	display: block;
	width: 100%;
	font-weight: bold;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #666 !important;
	background-color: #d2e6f2;
	background-image: none;
	border: 1px solid #86c5ec;
	border-radius: 4px;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s*/
}


/*  end of # */


/*  login/signup #fatlumi  */

.row_os {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.row:after, .row:before {
	display: table;
	content: " "
}

/*
#a {
	color: #86c5ec;
	text-decoration: none;
	float: right;
}
#a:hover {
	text-decoration: underline;
	color: #E8932D;
}

*/
#or {
	text-align: center;
	margin-bottom: 1.5em;
 margin-top:1.em;
}
/*h2 {
	margin-left: 19px;
	margin-bottom: 2em;
}
*/
.line-separator {
	margin-top: 37px;
	height: 1px;
	background: #717171;
	border-bottom: 1px solid #C0C0C0;
	width: 100%;
	display: block;
	margin-bottom: 1.5em;
}

.line-separator_signup {
	margin-top: 10px;
	height: 1px;
	background: #717171;
	border-bottom: 1px solid #C0C0C0;
	width: 100%;
	display: block;
	margin-bottom: 0px;
}

/* Buttons
=================================================*/
.button [type="submit-bt"] {
	margin-top: 20px;
	cursor: pointer;
	border: none;
	margin: 0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #86c5ec;
	color: #FFF;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 2em;
	text-transform: uppercase !important;
	width: 130px;
	height: 40px;
	display: block;
}
.button [type="submit-bt"]:hover {
	/*background-color: #E8932D;*/
}

.button [type="submit-bt1"] {
	margin-top: 20px;
	cursor: pointer;
	border: none;
	margin-right: 20px;
	margin: 0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #86c5ec;
	color: #FFF;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 2em;
	text-transform: uppercase !important;
	width: 200px;
	height: 40px;
	display: block;
}
.button [type="submit-bt"]:hover {
	/*background-color: #E8932D;*/
}


/*end Button
=================================================*/


/*input
================================================*/
/*input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}
*/
/*input
================================================*/

/*Login
================================================*/

.checkbox {
	float: right;
}
.checkbox:hover {
	color: #E8932D;
}
#login {
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: auto;
	margin-right: auto;
}
#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}
#login input {
	height: 40px;
	margin-top: 0.2em;
	margin-bottom: 1em;
}
#login form input[type="text"], input[type="password12"] {
	background-color: #ffff;
	border-radius: 5px;
	color: #E8932D;
	margin-bottom: 1.5em;
	padding: 0 16px;
	margin-bottom: 1.5em;
	border: 1px solid #C0C0C0;
	display: block;
	margin-left: auto;
	height: 40px;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
}
#login > p {
	text-align: right;
	margin-right: 35px;
}
#login > p span {
	padding-left: 5px;
}
/*//Login
================================================*/

#login01 {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}
#login01 form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}
#login01 input {
	height: 40px;
	margin-top: 0.2em;
	margin-bottom: 1em;
}
#login01 form input[type="text"], input[type="password12"] {
	background-color: #ffff;
	border-radius: 5px;
	color: #E8932D;
	margin-bottom: 1.5em;
	padding: 0 16px;
	margin-bottom: 1.5em;
	border: 1px solid #C0C0C0;
	display: block;
	margin-left: auto;
	height: 40px;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
}
#login01 > p {
	text-align: right;
	margin-right: 35px;
}
#login01 > p span {
	padding-left: 5px;
}



p {
	line-height: 1.5em;
}
/*Sign up
================================================*/
#signup01 {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}


#signup01 form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}
#signup01 input {
	height: 40px;
	margin-top: 0.2em;
	margin-bottom: 1em;
}
#signup01 input1 {
	margin-top: 1em;
	margin-bottom: 1em;
}
#signup01 form input[type="text"], input[type="password12"] {
	background-color: #ffff;
	border-radius: 5px;
	color: #E8932D;
	margin-bottom: 1.5em;
	padding: 0 16px;
	margin-bottom: 1.5em;
	border: 1px solid #C0C0C0;
	display: block;
	margin-left: auto;
	height: 40px;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
}
#signup01 form input[type="file"] {
	background-color: #ffff;
	border-radius: 5px;
	color: #E8932D;
	margin-bottom: 1.5em;
	padding: 0 16px;
	margin-bottom: 1.5em;
	border: 1px solid #C0C0C0;
	display: block;
	margin-left: auto;
	width: 25%;
}
#signup01 form input[type="submit"] {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #86c5ec;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 130px;
	height: 40px;
	width: 22%;
	display: block;
	float: right;
}
#signup01 form input[type="submit"]:hover {
	background-color: #E8932D;
}
#signup01 > p {
	text-align: right;
	margin-right: 35px;
}
#signup01 > p span {
	padding-left: 5px;
}

/*  Sign Up*/

#signup {
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: auto;
	margin-right: auto;
}
#signup form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}
#signup input {
	height: 40px;
	margin-top: 0.2em;
	margin-bottom: 1em;
}
#signup input1 {
	margin-top: 1em;
	margin-bottom: 1em;
}
#signup form input[type="text"], input[type="password12"] {
	background-color: #ffff;
	border-radius: 5px;
	color: #E8932D;
	margin-bottom: 1.5em;
	padding: 0 16px;
	margin-bottom: 1.5em;
	border: 1px solid #C0C0C0;
	display: block;
	margin-left: auto;
	height: 40px;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
}
#signup form input[type="file"] {
	background-color: #ffff;
	border-radius: 5px;
	color: #E8932D;
	margin-bottom: 1.5em;
	padding: 0 16px;
	margin-bottom: 1.5em;
	border: 1px solid #C0C0C0;
	display: block;
	margin-left: auto;
	width: 25%;
}
#signup form input[type="submit"] {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #86c5ec;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 130px;
	height: 40px;
	width: 22%;
	display: block;
	float: right;
}
#signup form input[type="submit"]:hover {
	background-color: #E8932D;
}
#signup > p {
	text-align: right;
	margin-right: 35px;
}
#signup > p span {
	padding-left: 5px;
}
/*//Sign up
================================================*/
/*Select
================================================*/
select {
	outline: 0;
	overflow: hidden;
	height: 30px;
	background: #2c343c;
	color: #747a80;
	border: #2c343c;
	padding: 5px 3px 5px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 10px;
}
select option {
	border: 1px solid #000;
	background: #ffff;
}
select:hover {
	color: #ffff;
}


/*//Select
================================================*/



/*-----start-responsive-design------*/

/*@media (max-width:1280px) {
.row {
	width: 38%;
}
}
@media (max-width:1024px) {
.row {
	width: 50%;
}
}
@media (max-width:768px) {
.row {
	width: 59%;
}
}*/
@media (max-width:640px) {
.row_os {
	width: 70%;
}
}
@media (max-width:480px) {
.row_os {
	width: 89%;
}
}
 @media (max-width:320px) {
.row_os {
	width: 93%;
}
}

/*  end of //login/signup #fatlumi  */


/* =============================================================
 Edit Profile SECTION STYLES
============================================================ */

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
   position: absolute;
   top: -6px;
   left: 10px;
   display: inline-block;
   border-right: 6px solid transparent;
   border-bottom: 6px solid white;
   border-left: 6px solid transparent;
   content: '';
 }

.dropdown-menu:before, .dropdown-menu.pull-right:before {
right: 79px;
left: auto;
}

.dropdown-menu::after, .dropdown-menu.pull-right:after {
right: 80px;
left: auto;
}

/* record video  */


.test0101:before {
  position: absolute;
  top: -11px;
  left: 9px;
  display: inline-block;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #CCC;
  border-left: 11px solid transparent;
  border-bottom-color: #ccc;
  content: '';
}

.test0101:after {
   position: absolute;
   top: -10px;
   left: 10px;
   display: inline-block;
   border-right: 10px solid transparent;
   border-bottom: 10px solid #FFF;
   border-left: 10px solid transparent;
   content: '';
 }

.test0101:before, .test0101.pull-right:before {
right: 50%;
left: auto;
}

.test0101::after, .test0101.pull-right:after {
right: 50.1%;
left: auto;
}
/* end #rec/vid */


input[type=radio].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:26px;
							height:21px; 
							display:inline-block;
							line-height:21px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:14px;
							font-weight: normal;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -21px;
						}
						label.css-label {
				background-image:url(../images/radiobtn.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}



/*   fatlumi #table */

	#paymentTable table th td{
	border:none;

}
#paymentTable th{
text-align: center;
background-color: #10375e;
color: #fbad3d;
font-weight: bold;
padding: 20px;


}

.tableleft{
text-align: left;
text-align: center;
background-color: #10375e;
color: #fbad3d;
font-weight: bold;
padding: 20px;
border-radius: 8px 0 0 0;

}

.tableright {

text-align: center;
background-color: #10375e;
color: #fbad3d;
font-weight: bold;
padding: 20px;
border-radius: 0 8px 0 0;

}


.tableleftb{
text-align: left;
text-align: center;
background-color: #10375e;
color: #fbad3d;
font-weight: bold;
padding: 20px;
border-radius: 0 0 0 8px;

}


#paymentTable td{

text-align: center;

}

.btn_editplay-edit [class*="fa fa-"] {
   background-color: transparent;
   border-radius: 50%;
   border: 4px solid #fbad3d;
   color: #86c5ec;
   display: inline-block;
   height: 30px;
   line-height: 23px;
   margin: auto 0px;
   width: 30px;
   font-size: 15px;
   text-align: center;
   margin-right: 6px;
   padding:0px 2px 2px 4px;
}

.fa-play:hover{
	color: #a9d4ee;
	
}
.fa-pencil:hover{
	color: #a9d4ee;
	
}


/*  end of #css . . . */
