.row {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.row:after, .row:before {
	display: table;
	content: " "
}

/*
#a {
	color: #86c5ec;
	text-decoration: none;
	float: right;
}
#a:hover {
	text-decoration: underline;
	color: #E8932D;
}

*/
#or {
	text-align: center;
	margin-bottom: 1.5em;
 margin-top:1.em;
}
/*h2 {
	margin-left: 19px;
	margin-bottom: 2em;
}
*/
.line-separator {
	margin-top: 37px;
	height: 1px;
	background: #717171;
	border-bottom: 1px solid #C0C0C0;
	width: 100%;
	display: block;
	margin-bottom: 1.5em;
}

.line-separator_signup {
	margin-top: 10px;
	height: 1px;
	background: #717171;
	border-bottom: 1px solid #C0C0C0;
	width: 100%;
	display: block;
	margin-bottom: 0px;
}

/* Buttons
=================================================*/
.button [type="submit-bt"] {
	margin-top: 20px;
	cursor: pointer;
	border: none;
	margin: 0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*background-color: #86c5ec;
	color: #FFF;*/
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 2em;
	text-transform: uppercase !important;
	width: 130px;
	height: 40px;
	display: block;
}
.button [type="submit-bt"]:hover {
	/*background-color: #E8932D;*/
}
/*end Button
=================================================*/


/*input
================================================*/
/*input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}
*/
/*input
================================================*/

/*Login
================================================*/

.checkbox {
	float: right;
}
.checkbox:hover {
	color: #E8932D;
}
#login {
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: auto;
	margin-right: auto;
}
#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}
#login input {
	height: 40px;
	margin-top: 0.2em;
	margin-bottom: 1em;
}
#login form input[type="text"], input[type="password"] {
	background-color: #ffff;
	border-radius: 5px;
	color: #E8932D;
	margin-bottom: 1.5em;
	padding: 0 16px;
	margin-bottom: 1.5em;
	border: 1px solid #C0C0C0;
	display: block;
	margin-left: auto;
	height: 40px;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
}
#login > p {
	text-align: right;
	margin-right: 35px;
}
#login > p span {
	padding-left: 5px;
}
/*//Login
================================================*/


p {
	line-height: 1.5em;
}
/*Sign up
================================================*/

#signup {
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: auto;
	margin-right: auto;
}
#signup form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}
#signup input {
	height: 40px;
	margin-top: 0.2em;
	margin-bottom: 1em;
}
#signup input1 {
	margin-top: 1em;
	margin-bottom: 1em;
}
#signup form input[type="text"], input[type="password"] {
	background-color: #ffff;
	border-radius: 5px;
	color: #E8932D;
	margin-bottom: 1.5em;
	padding: 0 16px;
	margin-bottom: 1.5em;
	border: 1px solid #C0C0C0;
	display: block;
	margin-left: auto;
	height: 40px;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
}
#signup form input[type="file"] {
	background-color: #ffff;
	border-radius: 5px;
	color: #E8932D;
	margin-bottom: 1.5em;
	padding: 0 16px;
	margin-bottom: 1.5em;
	border: 1px solid #C0C0C0;
	display: block;
	margin-left: auto;
	width: 25%;
}
#signup form input[type="submit"] {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #86c5ec;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 130px;
	height: 40px;
	width: 22%;
	display: block;
	float: right;
}
#signup form input[type="submit"]:hover {
	background-color: #E8932D;
}
#signup > p {
	text-align: right;
	margin-right: 35px;
}
#signup > p span {
	padding-left: 5px;
}
/*//Sign up
================================================*/
/*Select
================================================*/
select {
	outline: 0;
	overflow: hidden;
	height: 30px;
	background: #2c343c;
	color: #747a80;
	border: #2c343c;
	padding: 5px 3px 5px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 10px;
}
select option {
	border: 1px solid #000;
	background: #ffff;
}
select:hover {
	color: #ffff;
}

/*//Select
================================================*/



/*-----start-responsive-design------*/

/*@media (max-width:1280px) {
.row {
	width: 38%;
}
}
@media (max-width:1024px) {
.row {
	width: 50%;
}
}
@media (max-width:768px) {
.row {
	width: 59%;
}
}*/
@media (max-width:640px) {
.row {
	width: 70%;
}
}
@media (max-width:480px) {
.row {
	width: 89%;
}
}
 @media (max-width:320px) {
.row {
	width: 93%;
}
}
